<section class="section resume" id="resume">
    <div class="resume__background"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="resume__heading">
                    <span>My Resume</span>
                    <h1>My Expertises</h1>
                    <p>Here is a window into my journey and the experiences I have collected along the way. 
                    </p><br><br>
                    <p>You will discover a theme of curating experiences for diverse groups of people that lead to impact.</p>
                    <ul class="nav nav-tabs">
                        <li><a href="#experience" data-toggle="tab">Experiences</a></li>
                        <li><a href="#education" class="active" data-toggle="tab">Education</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="tab-content ">
                    <div class="resume__education tab-pane active" id="education">
                        <div class="resume__education_item">
                            <span>2006-2010</span>
                            <h4>Pace University</h4>
                            <p>Bachelor of Arts in Political Science

                            </p>
                        </div>
                        <div class="resume__education_item">
                            <span>2018-201p</span>
                            <h4>Education Pinoeers Impact Fellow</h4>
                            <p>Fellowship on Education Landscape in the United States</p>
                        </div>
                        <div class="resume__education_item">
                            <span>2025</span>
                            <h4>IDEO U</h4>
                            <p>Leading Complex Projects Certificate</p>
                        </div>
                       
                    </div>
                    <div class="resume__education tab-pane" id="experience">
                        <div class="resume__education_item">
                            <span>OneGoal || June 2023 - June 2025</span>
                            <h4>Managing Director, Training & Support</h4>
                            <p></p>
                        </div>
                        <div class="resume__education_item">
                            <span>OneGoal || Nov. 2021 - June 2023</span>
                            <h4>Senior Director, Program Director & Staff Experience</h4>
                            <p></p>
                        </div>
                        <div class="resume__education_item">
                            <span>OneGoal || Oct. 2020 - Nov. 2021</span>
                            <h4>Director, Program Director Experience</h4>
                            <p></p>
                        </div>
                        <div class="resume__education_item">
                            <span>Read Charlotte || Jul. 2020 - Oct. 2020</span>
                            <h4>Principal, Organizational Design & Effectiveness</h4>
                            <p></p>
                        </div>
                        <div class="resume__education_item">
                            <span>Read Charlotte || Sep. 2018 - Jul. 2020</span>
                            <h4>Sustainability Lead</h4>
                            <p></p>
                        </div>
                        <div class="resume__education_item">
                            <span>Peace Corps || Feb. 2016 - May 2018</span>
                            <h4>Entrepreneurship Education Specialist</h4>
                            <p></p>
                        </div>
                        <div class="resume__education_item">
                            <span>Foundation For Sustainable Development || Mar. 2014 - Sep. 2014; Mar. 2015 - Aug. 2015 </span>
                            <h4>International Program Coordinator</h4>
                            <p></p>
                        </div>
                        <div class="resume__education_item">
                            <span>Access Development Services || Jan. 2013 - Jul. 2013 </span>
                            <h4>Research Associate</h4>
                            <p></p>
                        </div>
                        <div class="resume__education_item">
                            <span>Focused Technologies || Feb. 2011 - Dec. 2012; Oct. 2013 - Mar. 2014 </span>
                            <h4>Project Manager</h4>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>